# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
salaries_df = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
salaries_df.head(60)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.00
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
5,"AGNEW, ANTONIO E",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,37.45
6,"AGNEW, MELISSA M",SERGEANT,POLICE,F,Salary,NaN,111444.0,NaN
7,"AGOSTA, JOSEPH J",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,103932.0,NaN
8,"AGOSTINELLI, MICHAEL A",FIREFIGHTER (PER ARBITRATORS AWARD)-EMT,FIRE,F,Salary,NaN,107106.0,NaN
9,"AGOSTINI, LUIS R",ASST DIR,POLICE,F,Salary,NaN,95736.0,NaN
10,"AGOSTO, HECTOR I",POLICE OFFICER/EXPLSV DETECT K9 HNDLR,POLICE,F,Salary,NaN,94524.0,NaN
11,"AGREDANO, ELIAS",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
12,"AGREDANO, MARIO",BRIDGE OPERATOR,TRANSPORTN,F,Salary,NaN,67896.0,NaN
13,"AGRON, EDUARDO",SERGEANT,POLICE,F,Salary,NaN,122472.0,NaN
14,"AGRON, EDWIN",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
15,"AGSALUD, FERNAN S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,40.78
16,"AGSALUD JR, JUANITO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
17,"AGUADA, GILBERT GLENN",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
18,"AGUAS, ALEX",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
19,"AGUAYO, BRAULIO",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,89148.0,NaN
20,"AGUAYO, LUIS A",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,92274.0,NaN
21,"AGUAYO, LUIS M",LABORER - APPRENTICE,WATER MGMNT,F,Hourly,40.0,NaN,34.98
22,"AGUAYO, MARIA G",ACCOUNTING TECHNICIAN II,FINANCE,F,Salary,NaN,47160.0,NaN
23,"AGUIAR, WILLIAM M",ADMINISTRATIVE DEPUTY,LAW,F,Salary,NaN,143976.0,NaN
24,"AGUILA, JUANITA",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,37.45
25,"AGUILAR, ANDRIA",ALDERMANIC AIDE,CITY COUNCIL,P,Hourly,20.0,NaN,25.00
26,"AGUILAR, EFRAIN",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
27,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,111444.0,NaN
28,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
29,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,DAIS,F,Salary,NaN,118608.0,NaN
30,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,117072.0,NaN
31,"ABARCA, FRANCES J",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
32,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
33,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,49.35
34,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,103350.0,NaN
35,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
36,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
37,"ABBOTT, CARMELLA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
38,"ABDALLAH, MARAM M",PARAMEDIC,FIRE,F,Salary,NaN,56304.0,NaN
39,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
40,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
41,"ABDELLATIF, AREF R",FIREFIGHTER (PER ARBITRATORS AWARD)-PARAMEDIC,FIRE,F,Salary,NaN,105804.0,NaN
42,"ABDELLATIF, HASSAN",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
43,"ABDELMAJEID, AZIZ",SERGEANT,POLICE,F,Salary,NaN,111444.0,NaN
44,"ABDOLLAHZADEH, ALI",FIREFIGHTER/PARAMEDIC,FIRE,F,Salary,NaN,94476.0,NaN
45,"ABDUL-KARIM, MUHAMMAD A",ENGINEERING TECHNICIAN VI,WATER MGMNT,F,Salary,NaN,118608.0,NaN
46,"ABDULLAH, DANIEL N",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,99324.0,NaN
47,"ABDULLAH, RASHAD",ELECTRICAL MECHANIC (AUTOMOTIVE),DAIS,F,Hourly,40.0,NaN,49.35
48,"ABDULLA, MARYEM E",ASST CORPORATION COUNSEL I,LAW,F,Salary,NaN,64824.0,NaN
49,"ABDUL-SHAKUR, TAHIR J",POOL MOTOR TRUCK DRIVER,STREETS & SAN,P,Hourly,10.0,NaN,29.96
50,"ABEJERO, JASON V",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
51,"ABERCROMBIE IV, EARL S",PARAMEDIC I/C,FIRE,F,Salary,NaN,91080.0,NaN
52,"ABERNETHY, LYDIA M",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
53,"ABES, JOSE A",POLICE OFFICER,POLICE,F,Salary,NaN,68616.0,NaN
54,"ABFALL, RICHARD C",FIREFIGHTER-EMT (RECRUIT),FIRE,F,Salary,NaN,56304.0,NaN
55,"ABNEY, PATRICK",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
56,"ABOUASSI, CHADI",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
57,"ABOUELKHEIR, HASSAN A",SENIOR PROGRAMMER/ANALYST,FAMILY & SUPPORT,F,Salary,NaN,117072.0,NaN
58,"ABOUZEID, TAMER Y",INVESTIGATOR-COPA,COPA,F,Salary,NaN,67524.0,NaN
59,"ABRAHAM, GIRLEY T",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,117072.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
salaries_df.isna().sum()/len(salaries_df)

Name                 0.000000
Job Titles           0.000000
Department           0.000000
Full or Part-Time    0.000000
Salary or Hourly     0.000000
Typical Hours        0.757462
Annual Salary        0.242538
Hourly Rate          0.757462
dtype: float64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
salaries_df.columns=[e.lower().replace(' ', '_') for e in salaries_df.columns]


salaries_df.salary_or_hourly.value_counts(dropna=False)

Salary    25528
Hourly     8174
Name: salary_or_hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
salaries_df.department.value_counts(dropna=False)

POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [19]:
from scipy import stats

confidence_level = 0.95

In [27]:
hourly_salaries_df=salaries_df[salaries_df['salary_or_hourly']=='Hourly']['hourly_rate']
hourly_salaries_df

2        13.00
5        37.45
15       40.78
16       38.52
21       34.98
         ...
33676    25.95
33678    43.72
33681    51.43
33684    49.35
33688    37.45
Name: hourly_rate, Length: 8174, dtype: float64

In [28]:
degrees_freedom = len(hourly_salaries_df) - 1  
degrees_freedom

8173

In [29]:
sample_mean = np.mean(hourly_salaries_df)

In [30]:
sample_mean

34.58644971862046

In [31]:
sample_standard_error = scipy.stats.sem(hourly_salaries_df)
sample_standard_error

0.14694742867989574

In [32]:
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [33]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.29839539204361, 34.874504045197305) .

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [89]:
police_salary_annual=salaries_df[(salaries_df['salary_or_hourly'] == 'Salary') & (salaries_df['department'] == 'POLICE')]['annual_salary']

In [90]:
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(police_salary_annual, 86000)

In [91]:
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)
print('pvalue for the one-tailed test is ', pval/2)

stat is   18.51748561981861
pvalue for the two-tailed test is  1.2239133904242963e-75
pvalue for the one-tailed test is  6.119566952121482e-76

Using the `crosstab` function, find the department that has the most hourly workers.

In [92]:
hourly_salaries_df=salaries_df[salaries_df['salary_or_hourly']=='Hourly']['hourly_rate']
hourly_salaries_df

2        13.00
5        37.45
15       40.78
16       38.52
21       34.98
         ...
33676    25.95
33678    43.72
33681    51.43
33684    49.35
33688    37.45
Name: hourly_rate, Length: 8174, dtype: float64

In [103]:
data_crosstab = pd.crosstab(salaries_df['department'],salaries_df['salary_or_hourly']=='Hourly')
data_crosstab

salary_or_hourly     False  True
department
ADMIN HEARNG            38     0
ANIMAL CONTRL           63    12
AVIATION               642  1214
BOARD OF ELECTION      111     0
BOARD OF ETHICS          8     0
BUDGET & MGMT           42     2
BUILDINGS              258     0
BUSINESS AFFAIRS       160     7
CITY CLERK              88     0
CITY COUNCIL           288    74
COPA                   123     0
CULTURAL AFFAIRS        64    10
DAIS                   288   745
DISABILITIES            27     1
FAMILY & SUPPORT       299   357
FINANCE                499    45
FIRE                  4627     0
HEALTH                 465     2
HOUSING                 66     0
HOUSING & ECON DEV     151     3
HUMAN RELATIONS         17     0
HUMAN RESOURCES         75     0
INSPECTOR GEN           95     0
LAW                    350    48
LICENSE APPL COMM        1     0
MAYOR'S OFFICE          87    17
OEMC                   660  1077
POLICE               13824    24
POLICE BOARD             2     0
PROCUREMENT             82     2
PUBLIC LIBRARY         732   356
PUBLIC SAFETY ADMIN    196    48
STREETS & SAN          329  1846
TRANSPORTN             387   726
TREASURER               28     0
WATER MGMNT            356  1558

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [109]:
Street_SAN_salary=salaries_df[(salaries_df['salary_or_hourly'] == 'Hourly') & (salaries_df['department'] == 'STREETS & SAN')]['hourly_rate']

In [115]:
from scipy import stats

confidence_level = 0.95 
degrees_freedom = len(Street_SAN_salary) - 1  
sample_mean = np.mean(Street_SAN_salary)
sample_standard_error = scipy.stats.sem(Street_SAN_salary)
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [116]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (35.28150811892018, 35.82308559722106) .

In [120]:
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(Street_SAN_salary, 35)

In [122]:
print('stat is  ', stat)
print('pvalue for the one-tailed test is ', pval/2)

stat is   4.000138803968834
pvalue for the one-tailed test is  3.2902372218867895e-05

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [118]:
All_hourly_workers=salaries_df[(salaries_df['salary_or_hourly'] == 'Hourly')]['hourly_rate']

from scipy import stats

confidence_level = 0.95 
degrees_freedom = len(All_hourly_workers) - 1  
sample_mean = np.mean(All_hourly_workers)
sample_standard_error = scipy.stats.sem(All_hourly_workers)
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.29839539204361, 34.874504045197305) .

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [119]:
Policy_Hourly_salary=salaries_df[(salaries_df['salary_or_hourly'] == 'Hourly') & (salaries_df['department'] == 'POLICE')]['hourly_rate']

from scipy import stats

confidence_level = 0.95 
degrees_freedom = len(Policy_Hourly_salary) - 1  
sample_mean = np.mean(Policy_Hourly_salary)
sample_standard_error = scipy.stats.sem(Policy_Hourly_salary)
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (11.881534035717477, 12.658465964282525) .

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: